@use "src/styles/color-variables" as vars;

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
  & caption {
    margin: 10px;
  }
  & th {
    padding: 10px;
    color: vars.$white;
    background-color: vars.$primary;
  }
  & tr:nth-child(2n+2) {
    background-color: vars.$table_row;
  }
  & td {
    padding: 10px;
  }
}

.empty_links_tab {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}

.pagination_buttons {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

@media (max-width: 750px) {
  .table th span {
    display: none;
  }
}

@media (max-width: 550px) {
  .target {
    display: none;
  }
  .table th, .table td {
    padding: 5px;
    overflow: hidden;
  }
}

@media (max-width: 420px) {
  .number {
    display: none;
  }
}