.link {
    text-decoration: none;
    color: white;
    opacity: 0.6;
    position: relative;
}
.link:hover {
    opacity: 0.8;
}

.link::before {
    content: '';
    background-color: white;
    height: 2px;
    width: 100%;
    position: absolute;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 0;
    bottom: -5px;
    left: 0;
    transform: translateY(15px);
}

.link:hover::before {
    transform: translateY(0);
    opacity: 1;
}
.active {
    opacity: 1;
}
.active:hover {
    opacity: 1;
}
