@use "src/styles/color-variables" as vars;

.form_wrapper {
  min-height: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 10px;
}

.form fieldset {
  border-radius: 20px;
  border-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  height: 500px;
  width: 400px;
  padding: 20px;
}

.form fieldset legend {
  text-align: left;
  font-size: 30px;
  color: vars.$primary;
}

.message {
  min-height: 25px;
  margin-top: 15px;
  color: vars.$warning;
}

.positive_message {
  color: vars.$green;
}

.form fieldset p {
  text-align: center;
}

@media (max-width: 410px) {
  .form fieldset {
    width: 320px;
    padding: 5px;
  }
}