@use "src/styles/color-variables" as vars;

.wrapper{
  border: 2px solid vars.$primary;
  border-radius: 100%;
  color: vars.$primary;
  cursor: pointer;
  position: relative;
  height: 24px;
  width: 24px;
  &:hover{
    box-shadow: 0 0 3px 2px;
  }
  &::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-top: 5px solid vars.$primary;
    border-right: 5px solid vars.$primary;
    left: 5px;
    top: 5px;
    transform: rotate(-45deg);
  }
}

.active{
  color: vars.$white;
  background-color: vars.$primary;
}
.active.wrapper::before{
  border-color: vars.$white;
}
.bottom_arrow {
  transform: rotate(180deg);
}
.empty.wrapper:before {
  display: none;
}