.footer {
  background-color: #1b1f3b;
  padding: 40px;
  bottom: 0;
}
.footer h2{
  margin-top: 20px;
  color: white;
  text-align: center;
}
.footer p{
  margin-top: 20px;
  text-align: center;
  color: #2591ae;
}
@media (max-width: 550px) {
  .footer {
    padding: 5px;
  }
}