@use "src/styles/color-variables" as vars;

.footer {
  background-color: vars.$dark_primary;
  padding: 40px;
  bottom: 0;
}

.footer h2 {
  margin-top: 20px;
  color: vars.$white;
  text-align: center;
}

.footer p {
  margin-top: 20px;
  text-align: center;
  color: vars.$table_row;
}

@media (max-width: 550px) {
  .footer {
    padding: 5px;
  }
}