$primary: #3366CC;
$hover_primary: #3366CC;
$dark_primary: #1b1f3b;
$secondary: #FF6600;
$hover_secondary: #CC6633;
$warning: #993333;
$disable: #CCCCCC;
$table_row: #00CCCC;
$white: white;
$black: black;
$green: green;