@use "src/styles/color-variables" as vars;

.variant_container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  & span {
    cursor: pointer;
    color: vars.$primary;
  }

  & span:hover {
    text-shadow: 0 0 2px;
  }
}

.active {
  text-decoration: underline;
  text-underline-offset: 3px;
}