@use "src/styles/color-variables" as vars;

.variant_container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  & span {
    cursor: pointer;
    color: vars.$primary;
  }
}

.active {
  text-decoration: underline;
}