@use "src/styles/color-variables" as vars;

.main {
  min-height: calc(100% - 250px);
}

.container {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  padding: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.title_container {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.title {
  font-size: 50px;
  color: vars.$primary;
  font-style: italic;
  margin-right: auto;
}

.subtitle {
  position: absolute;
  font-size: 24px;
  left: 40px;
  bottom: 2px;
  text-decoration: underline;
}

@media (max-width: 550px) {
  .title {
    font-size: 35px;
  }
  .subtitle {
    font-size: 18px;
  }
}

