@use "src/styles/color-variables" as vars;
@use "src/styles/sizes-variable" as size-vars;

.button {
  padding: 24px;
  background-color: vars.$secondary;
  color: vars.$white;
  border: none;
  border-radius: size-vars.$border-radius;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;

  &:hover {
    background-color: vars.$hover_secondary;
  }

  &:disabled {
    cursor: auto;
    background-color: vars.$disable;
  }


}
