.button {
  box-sizing: border-box;
  padding: 24px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  transition: 0.3s;
  &:disabled {
    cursor: auto;
    background-color: gray;
  }
}