@use "src/styles/color-variables" as vars;

.wrapper {
  height: 80px;
  background-color: vars.$primary;
  font-size: 26px;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  padding: 0 5px 0 5px;

  & ul {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    height: 100%;
  }

  & ul li {
    list-style: none;
  }

  & li:nth-child(2) {
    margin-left: auto;
  }
}

@media (max-width: 550px) {
  .wrapper {
    font-size: 22px;
  }
}

@media (max-width: 400px) {
  .wrapper {
    font-size: 18px;
  }
}
